/* CSS File */
* {
    color: color-mix(in srgb, #838795 75%, #a6a7ac)
}
body {
    background-color: #f2eee9;
    margin: 0px;
}

img {
    height: 100px;
}

.header {
    background-color: #cdc9c9;
    display: flex;
    justify-content: space-between;
}

.nav_links {
    color: 
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-right: 2rem;
}

.nav_links:hover {
    color: 
}

footer {
    background-color: #cdc9c9;
    display: flex;
    justify-content: center;
}

.foot_links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}