/* CSS File */

body {
    background-color: #f2eee9;
    margin: 0px;
}

img {
    height: 100px;
}

.header {
    background-color: #cdc9c9;
    display: flex;
    justify-content: space-between;
}

.nav_links{
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-right: 2rem;
}

footer {
    background-color: #cdc9c9;
    display: flex;
    justify-content: center;
}

